.banners {
  text-transform: uppercase;
  padding: 0 0 100px 0;


  // .banners__container
  
  &__container {
  }
  
  // .banners__imag
  
  // .banners__text
  
  &__text {
    width: 100%;
    row-gap: 20px;
    display: flex;
    flex-direction: column;
  }
  
  // .banners__header
  
  &__header {
    font-weight: bold;
    font-size: 49px;
    span{
      font-size: 59px; 
    }
  }
  
  // .banners__desc
  
  &__desc {
    font-size: 30px;
  }
  
  // .banners__btn
  
  &__btn {}
  }
  .container {
  }
  .btn {
  }
  

  .banner__owl-carousel{
    height: 100%;
     & *{
      height: 100%;
     }
     & img{
      height: 100%;
      object-fit: cover;
    }
  }