//===================================================================================
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1200;
// Ширина ограничивающего контейнера (0 = нет ограничения)
$maxWidthContainer: 1170;
// Общий отступ у контейнера
// (30 = по 15px слева и справа, 0 = нет отступа)
$containerPadding: 30;

// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;

// Брейк-поинты
$pc: em($containerWidth); // ПК и т.д.
$tablet: em(991.98); // Планшеты
$mobile: em(767.98); // Тел L
$mobileSmall: em(479.98); // Тел S

// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейкпоинтов),
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
//===================================================================================
$maincolor: #FF924A;
$altcolor: #F9F9F9;
$textColor: #1B1E25;
//===================================================================================
._no-scroll{
  -ms-overflow-style: none;
    scrollbar-width: none;
    &::-webkit-scrollbar{
      display: none;
    }
}
//===================================================================================
._close{
  display: none;
}
._active{
  display: flex;
}
//===================================================================================
._hidden{
  opacity: 0;
}
._visible{
  opacity: 1;
}
//===================================================================================
._fixed{
  position: fixed;
}
//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================