
  .form {
    z-index: 9999;
    width: 526px;
    display: flex;
    justify-content: space-between;
    height: 100%;
    flex-direction: column;
  // .form__top
  
  &__top {}
  
  // .form__header
  
  &__header {}
  
  // .form__text
  
  &__text {}
  
  // .form__inputs
  
  &__inputs {}
  
  // .form__input-name
  
  &__input-name {}
  
  // .form__input-phone
  
  &__input-phone {}
  
  // .form__bottom
  
  &__bottom {
    gap: 27px;
  display: flex;
  flex-direction: column;
  }
  
  // .form__policy
  
  &__policy {
    display: flex;
    column-gap: 15px;
    justify-content: start;
    align-items: center;
    & input{

    }
  }
  
  // .form__policy-input
  
  &__policy-input {}
  
  // .form__policy-label
  
  &__policy-label {
    border-radius: 7px;
  }
  
  // .form__submit
  
  &__submit {}
  }
  .input-name {
  
  // .input-name__label
  
  &__label {}
  
  // .input-name__input
  
  &__input {}
  }
  .text-s-l {
  }
  .form-input {
  }
  .input-phone {
  
  // .input-phone__label
  
  &__label {}
  
  // .input-phone__input
  
  &__input {}
  }

.form {

  // .form__container
  
  &__container {
    background: rgba(0, 0, 0, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
  }
  
  // .form__top
  
  &__top {}
  
  // .form__header
  
  &__header {}
  
  // .form__text
  
  &__text {}
  
  // .form__inputs
  
  &__inputs {}
  
  // .form__input-name
  
  &__input-name {}
  
  // .form__input-phone
  
  &__input-phone {}
  
  // .form__bottom
  
  &__bottom {}
  
  // .form__policy
  
  &__policy {}
  
  // .form__policy-input
  
  &__policy-input {}
  
  // .form__policy-label
  
  &__policy-label {}
  
  // .form__submit
  
  &__submit {}
  
  // .form__submit-btn
  
  &__submit-btn {}
  }
  .submit-request-form {
  }
  .clearfix {
  }
  .form-block {
  }
  .text-l-s {
  }
  .control-group {
  }
  .form-inputblock {
  }
  .controls {
  }
  .input-name {
  
  // .input-name__label
  
  &__label {}
  
  // .input-name__input
  
  &__input {}
  }
  .text-s-l {
  }
  .form-input {
  }
  .input-phone {
  
  // .input-phone__label
  
  &__label {}
  
  // .input-phone__input
  
  &__input {}
  }
  .form-submit {
  }
  .form-policy {
  }
  .form-checkbox {
  }
  .text-s-m {
  }
  .btn {
  }
  

  //===================================================================================
.form{
  justify-content: space-between;
  display: flex;
  flex-direction: column;
padding: 40px;
border-radius: 15px;
background: rgba(255, 255, 255, 1);
height: 526px;



}
//===================================================================================
.form-block{
  gap: 15px;
  display: flex;
  flex-direction: column;
  
.form-inputblock{
  gap: 5px;
  display: flex;
  flex-direction: column;
}
//===================================================================================
.form-submit{
  gap: 27px;
  display: flex;
  flex-direction: column;
}
.form-policy{
  display: flex;
  column-gap: 15px;
  justify-content: start;
  align-items: center;
}
.form__submit-btn{
  transition: all 0.2s ease-in-out;
  margin-top:35px
}
}
//===================================================================================
._err{
  box-shadow: 0px 0px 5px 3px rgba(241, 0, 0, 0.2);
}
//===================================================================================
.form-input{
  background: rgba(248, 249, 251, 1);
  width: 100%;
  display: flex;
  align-items: center;
  padding-left: 10px;
  border: 1px solid rgba(229, 229, 229, 1);
  border-radius: 10px;
  height: 50px;
}
//===================================================================================
.form__policy-input {
  -webkit-appearance: none;
  appearance: none;
  position: absolute;
  height: 30px;
  width: 30px;
  z-index: 99;
  cursor: pointer;
}

.form__policy-label {
  gap: 13px;
  align-items: center;
  display: flex;
  color: #444;
}

.form__policy-label:before {
  
  content: "";
  display: block;
  min-width: 24px;
  height: 24px;
  border-radius: 5px;
border: 1px solid rgba(229, 229, 229, 1);
background: linear-gradient(0deg, #F8F9FB, #F8F9FB),
linear-gradient(0deg, #E5E5E5, #E5E5E5);

  

  transition: background .1s linear, border .1s linear;
}

.form__policy-label:after {
  cursor: pointer;
    content: "";
    display: block;
    width: 12px;
    height: 12px;
    top: 0px;
    background: url(../img/check.svg) no-repeat;
    background-size: 12px 12px;
    opacity: 0;
    right: 428px;
    position: relative;
    transition: opacity 0.1s linear;
}


.form__policy-input:checked + .form__policy-label:before {
  background-color: rgb(153, 153, 153);
  border-color: rgb(153, 153, 153);;
}

.form__policy-input:checked + .form__policy-label:after {
  opacity: 1;
}
//===================================================================================
.form a{
  text-decoration: underline !important;
  color: #FF924A;
}
//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================
//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================