//===================================================================================
._close{
  display: none;
}
._active{
  display: flex;
}
//===================================================================================
._hidden{
  opacity: 0;
}
._visible{
  opacity: 1;
}
//===================================================================================
._fixed{
  position: fixed;
}
//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================