//===================================================================================
._close{
  display: none;
}
._active{
  display: flex;
}
//===================================================================================
._hidden{
  opacity: 0;
}
._visible{
  opacity: 1;
}
//===================================================================================
._fixed{
  position: fixed;
}
//===================================================================================
.btn{
  width: 325px;
  height: 72px;
  font-size: 19px;
  font-weight: bold;
  background: #FF924A;
  color: white;
} 
//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================

//===================================================================================