.product-prices {
  &.in-card {
    margin-bottom: 0.5rem;
    text-align: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

#gallery {

  @include media-max(sm) {
    display: none;
  }
}

#review_form {
  display: none;
}

.ajs-button {
  @include button-variant;
}

.m-modal-wrapper {
  padding-bottom: 2rem;
}

.product-link {

  @include link-decor($color-link-primary, $color-link-primary-hover);

  margin: auto;
  display: block;
  line-height: 1.5rem;
  text-align: center;
}

.product-introtext {
  margin-bottom: 1rem;
}

.form-rating-label:nth-last-child(1) {

  @include icon($fa-refresh, 'after');

  @include link-decor($color-link-primary, $color-link-primary-hover);
  color: $color-link-primary !important;
  display: none;
}

.form-captcha-update:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

.tab-block-inner>iframe {
  max-width: 100% !important;
}

.tab-block-inner.editor table {
  // display: table;

  & tbody {
    display: block;
  }
}

.product-form {
  margin-bottom: 1rem;
}

.product-sku-wrapper {
  margin-bottom: 0.75rem;

  &>.label-article {
    opacity: 0.6;
    margin-right: 0.25rem;
  }
}

.product-prices {
  margin-bottom: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -0.25rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  >* {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin: 0.25rem 0.4rem;
  }

  @include media-max(xs) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.bundle-slider {

  @include media-max(sm) {
    margin: auto;
  }
}

.product-button.is-quick-checkout {

  @include media-max(xs) {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.product-gallery-wrapper {
  position: relative;
  margin-top: 1rem;

  @include media-max(sm) {
    & .product-labels {
      position: static;
    }
  }
}

.gallery-main-wrapper {
  text-align: center;
}

.product-slider-controls .hidden_counter {
  display: none;

  @include media-max(sm) {
    display: block;
  }
}

.mobile-wrapper {
  margin-bottom: 2.5rem;
}

.product-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 1rem -0.25rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;


  >* {
    margin: 0.25rem;
    color: $color-link-primary;
  }

  @include media-max(xs) {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
}

.product-cart-control {

  @extend .product-control;
}

.more-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex: 0 1 90%;
  flex: 0 1 90%;
  margin: auto;
}

.compare-control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  -webkit-box-flex: 0;
  -ms-flex: 0 0 100%;
  flex: 0 0 100%;

  @include media-max(xs) {
    width: 100%;
  }
}

.product-option-selectors .option {
  margin-right: 1rem;
}

.gallery-thumbs.swiper-container>.gallery-controls {
  padding-left: 0;

  &:before {
    margin-left: 0;
  }
}

//==================================
//          modal-window
//==================================

.m-modal-button--checkout {

  @include button-variant();
  padding: 0.15rem 2.5rem;
  margin: 1rem 0 0.5rem;
}

.m-modal {
  padding: 20px 0 0;
  background-color: $color-background-primary;
  color: $color-text-primary;
}

.m-modal-heading {
  color: $color-text-primary;
  margin-top: 0;
}

.m-input-label {
  color: $color-text-primary;
}

.m-input-field {
  color: $gray-darker;
  border-radius: $main-border-radius;
  outline: none;
  background-color: #fff;
}

.m-input--checkbox {
  opacity: 1;
}

.m-modal-close {
  @include link-decor;
  background: none;
  height: 20px;
  width: 20px;
  top: 7px;
  @include icon($fa-close);

  &:hover {
    background-color: transparent;
  }
}

//==================================
//          product-card
//==================================

.product-card-wrapper {
  padding: 1.25rem;

  &.in-tab {
    -ms-flex-preferred-size: 25%;
    flex-basis: 25%;
    max-width: 25%;

    @include media-max(md) {
      -ms-flex-preferred-size: 33%;
      flex-basis: 33%;
      max-width: 33%;
    }

    @include media-max(sm) {
      -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
      max-width: 50%;
    }

    @include media-max(xs) {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
      max-width: 100%;
    }
  }
}

.product-card {
  display: block;
}

.product-card-inner {
  position: relative;
}

.product-card-photo {
  display: block;
  margin-bottom: 1rem;
}

.product-card-caption {
  text-align: center;
  line-height: 1.4;
}

.product-content {
  margin-top: 1rem;
  margin-bottom: 1rem;

  &.tab {
    margin-top: 3rem;
  }
}

//=====================
//        labels
//=====================

.product-labels {
  position: absolute;
  top: 0;
  left: 0.5rem;
}

.gallery-thumbs-wrapper {
  margin-top: 0.5rem;
}

.label {
  background-color: $gray-lighter;
  color: edit-color($gray-lighter);

  &.is-discount {
    background-color: #dc4646;
    color: #fff;
  }
}

//===========
// price
//====================

.price {
  font-weight: bold;

  &.is-discount {
    font-size: 0.8em;
    text-decoration: line-through;
  }

  &.on-page {
    font-size: $font-size-large;
  }
}

.old-price {
  text-decoration: line-through;
  opacity: 0.6;

  &.on-page {
    font-size: $font-size-medium;
  }
}

//=============================
//       product-slider
//=============================

.product-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.5rem;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  &.is-related-products .product-slider-heading {
    word-break: break-word;
  }

  &.tab-block {
    border: none;
    padding-top: 0;
    margin-top: 0;

    @include media-max(sm) {
      &:last-of-type {
        border-bottom: 1px solid $color-link-primary-hover;
        border-radius: 0;
      }
    }

    ;
  }

  &.is-similar-products {
    margin-top: 2rem;
  }
}

.product-slider-heading-wrapper {
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-flex: 0;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  margin-bottom: 1rem;
  margin-left: 0.75rem;
}

.product-slider-heading:not(.tab-toggle) {

  @extend %heading-h1;

  @include link-decor();
  color: $color-link-primary;
  word-wrap: break-word;
  -webkit-box-flex: 1;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto;
}

.tab-toggle.product-slider-heading {
  font-size: $font-size-h2;
  text-transform: uppercase;
  padding: 0.5rem 0 0.25rem;
  color: $color-link-primary;
  margin-right: 1rem;
  border: none;
  border-bottom: 1px solid $color-background-primary;
  border-radius: 0;
  z-index: 0;

  @include transition-property(color border-color);

  &.is-active,
  &:hover {
    color: $color-link-primary-hover;
    border-color: $color-link-primary-hover;
  }

  @include media-max(sm) {
    border: none;
    border-top: 1px solid $color-link-primary-hover;
    font-size: 1.25rem;
    text-transform: uppercase;
    padding: 1rem 0;
    color: $color-link-primary;
    border-color: $color-link-primary-hover;
    padding-right: 1rem;
    position: relative;
    -webkit-box-flex: 1;
    -ms-flex: 1 0 100%;
    flex: 1 0 100%;
    margin: 0;


    @include icon($fa-angle-down, 'after') {
      position: absolute;
      right: 5px;
      top: 22%;
      color: $color-link-primary-hover;
      font-size: 1.75rem;
    }

    &:last-of-type {
      border-bottom: 1px solid $color-link-primary-hover;
    }

    &.is-active {
      color: $color-link-primary-hover;
      border-bottom: none;

      &:after {
        content: '';
      }
    }
  }
}

.product-slider-controls {


  & .promo-slider-next,
  .promo-slider-prev {

    &.is-disabled {
      display: block;
      pointer-events: fill;
    }
  }

  & .promo-slider-next {
    text-align: right;
  }

  & .promo-slider-prev {
    text-align: left;
  }
}

.swiper-wrapper {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}

.product-slider-prev,
.product-slider-next {
  color: $color-link-primary;

  @include transition-property(opacity color);

  border: none !important;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
  outline: none !important;
  position: absolute;
  top: 50%;
  margin: 0;
  line-height: 1.5rem;
  background-image: none;
  font-size: 3rem;
  z-index: 99;

  &:active,
  &:hover {
    opacity: 0.8;
    color: $color-link-primary-hover;
    background-color: trasparent;
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
  }

  &.is-disabled:active,
  &.is-disabled:hover {
    opacity: 0.35;
  }

  &.reviews-products-button {
    top: 30%;
  }
}

.above-gallery {

  &>.product-slider-prev,
  .product-slider-next {
    top: 1rem;
    font-size: 2rem;
  }
}

.gallery-slider {
  margin-left: auto;
}

.gallery-controls {
  margin-top: 0.5rem;
}

.product-slider-prev {

  @include icon($fa-angle-left);
  margin-right: 3px;
}

.product-slider-next {

  @include icon($fa-angle-right);
  margin-left: 3px;
}

.button-buy {

  @include button-variant();
  width: auto;
  -webkit-box-flex: 0;
  -ms-flex: 0 1 66%;
  flex: 0 1 66%;
  padding: 0.6rem 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.bundle_buy>.is-preorder {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 100%;
  flex: 0 1 100%;
}

.button.product-button {
  border-radius: $main-border-radius;

  // @include media-max(xs) {
  //   width: 100%;
  // }
}

.compare-link {

  @include link-decor;
  border: none;
  background: none;
  text-decoration: underline;

  @include media-max(xs) {
    width: 100%;
    margin: 0.3rem 0;
  }

  &:focus {
    border: none;
    outline: none;
  }
}

.bundle-prices {
  margin: 0.25rem 0;
}

.price-bundle {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;

  & span {
    font-weight: bold;
    text-decoration: line-through;
  }
}

.price_discount {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1rem;

  & span {
    font-weight: bold;
  }
}

.price_finall {
  margin-right: 0.25rem;
  margin-bottom: 0.25rem;
  font-size: 1.5rem;

  & span {
    font-weight: bold;
    white-space: nowrap;
  }
}

.buy.bundle_buy {
  margin: 0;
  margin-top: 0.8rem;



  @include media-min(sm) {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 270px;
    flex: 0 0 270px;
  }
}

.product-slider.is-bundle-products {
  margin-top: 0;
  margin-left: 0;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 100%;
  flex: 1 1 100%;

  & .product-slider-heading-wrapper {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin-top: 2rem;
  }

  & .swiper-wrapper {
    margin-top: 0;
  }

  & .product-slider-heading-wrapper:after {
    margin-left: 0;
  }

  & .product-slider-heading {
    display: none;
  }
}

.fancybox-caption {
  text-align: center;
  border-top: 0;
}

.is-reviews-toggle {

  @include button-variant;
  margin-bottom: 0.5rem;

  &:after {
    padding-left: 0.25rem;
  }

  &.is-unchecked {

    @include icon($fa-angle-right, 'after');
  }

  &.is-checked {

    @include icon($fa-angle-down, 'after');
  }
}

.is-comments-toggle {

  @extend .is-reviews-toggle;
}

.sidebar-menu-marker.filter-marker {
  margin-left: auto;
  color: $color-link-primary;
}


.filter-section.has-active-items {

  & .sidebar-menu-marker.filter-marker {
    display: none;
  }

  & .filter-section-name {
    color: $color-link-primary-hover;
  }
}

.filter-section-toggle.is-active-toggle.is-active {

  &>.filter-marker {

    @include icon($fa-caret-up);
  }
}


.filter-section-clear.is-filter-section-clear {
  padding: 0.5rem;
  color: $color-link-primary-hover;
  background-color: transparent;
}

.filter {
  margin: 0 0.25rem;
}

.ajs-header {
  background-color: $color-background-primary;
  margin-right: 0;
}

.form-label {
  color: $color-text-primary;
}

.ajs-footer {
  background-color: $color-background-primary;
}

.ajs-close {
  @include icon($fa-close);
  background: none;
  @include link-decor;
}

.ajs-dialog {
  background-color: $color-background-primary;
  color: $color-text-primary;
}

.form-notice {
  color: $color-text-primary;
}

.ajs-cancel {
  color: $color-text-primary;
}

.bundle-preorder {
  margin-left: 0.5rem;
}

.special-products-tab {
  margin-bottom: 2rem;

  @include media-max(sm) {
    & .tab-block.is-opened {
      border: none;
      border-radius: none;

      &:last-of-type {
        border-bottom: 1px solid $color-link-primary-hover;
        border-radius: 0;
      }
    }
  }
}

.product-prices-wrapper {
  display: flex;
  align-items: center;

}

.product-prices-info {
  margin-left: 10px;
  background: #e0ebf4;
  color: #000;
  padding: 7px;

  p {
    margin: 0;

  }
}


.product-list__container {
  overflow: hidden;
  max-width: 915px;
  margin: 0 auto;

  @media(max-width:1200px) {
    max-width: 915px;
    margin: 0 auto
  }

  @media(max-width:1023px) {
    max-width: 651px;
  }

  @media(max-width:767px) {
    max-width: 651px;
  }
}

@media(max-width: 767px) {
  .product-promo-info {

    & .product-characteristics {
      border: none;
      width: 100%;

      & * {
        width: 100%;
      }
    }
  }

  .product-card-inner-promo,
  .product-card-inner-promo--left {
    margin-bottom: 98px;
    flex-direction: column !important;
    justify-content: center;
    align-items: center;
  }

  .promo__line {
    display: none;
  }
}

.product-card-promo {
  margin: 30px 0;
}

.product-card-inner-promo {
  & a {
    font-weight: 600;
    justify-content: end;
    display: flex !important;
    padding-top: 0 !important;
    text-decoration: none;
    transition: all .2s ease-in;
    color: black;

    &:hover {
      color: orange !important;
    }
  }

  position: relative;
  z-index: 1;
  flex-direction: row;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.product-card-inner-promo--left {
  & a {
    font-weight: 600;
    justify-content: start;
    display: flex !important;
    padding-top: 0 !important;
    text-decoration: none;
    transition: all .2s ease-in;
    color: black;

    &:hover {
      color: orange !important;
    }
  }

  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: row-reverse;
  align-items: start;
  justify-content: space-between;
}

.display-promo {
  padding: 20px;
  font-family: "Montserrat";
}

.product-card-promo-image {

  height: 100%;
  display: block;
  border-radius: 56px;
  background: white;
  padding: 20px;
  width: 100%;

  & * {
    width: 100%;
    object-fit: contain;
    height: 100%;
  }
}

.promo {
  // .promo__imgblock

  &__imgblock {
    box-shadow: 0px 0px 15px 10px #efefef;
    max-width: 250px;
    height: 250px;
    border-radius: 56px;
    min-width: 249px;
  }

  // .promo__imgblock-tags

  &__imgblock-tags {

    color: white;
    font-size: 13px;
    font-weight: 800;
    background: linear-gradient(0deg, rgb(180, 58, 84) 0%, rgb(253, 29, 29) 50%, rgba(252, 176, 69, 1) 75%);
    width: 50px;
    height: 35px;
    border-radius: 20px;
    position: relative;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: 252px;
    left: -16px;

  }

  // .promo__imgblock-prices

  // .promo__line

  &__line {
    border-radius: 10px;
    top: 40%;
    z-index: -1;
    background: linear-gradient(270deg, rgb(180, 58, 84) 0%, rgb(253, 29, 29) 50%, rgb(252, 176, 69) 75%);
    height: 7px;
    position: absolute;
    width: 100%;
  }

  // .promo__name

  &__name {
    transition: all 0.2s ease-in;
    width: 100%;
    color: black;

    &:hover {
      color: orange;
    }

    top: 28px;
    z-index: 1;
    position: relative;
    text-align: left;
    font-size: 18px;

  }
}

.imgblock-buybutton {
  pointer-events: all;
  transform: scale(0.7);
  transition: all 0.2s ease-in;

  &:hover {
    background: linear-gradient(0deg, rgb(180, 58, 84) 0%, rgb(253, 29, 29) 50%, rgba(252, 176, 69, 1) 100%);

  }

  position: relative;
  color: white;
  text-align: center;
  background: linear-gradient(0deg, rgb(180, 58, 84) 0%, rgb(253, 29, 29) 50%, rgba(252, 176, 69, 1) 80%);
  width: 80px;
  height: 80px;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  flex-direction: column;
  left: 184px;
  align-items: center;
  bottom: 302px;

  // .imgblock-buybutton__mainprice
  &__buytext {
    font-size: 13px;
    font-weight: bold;
  }

  &__mainprice {


    font-size: 19px;
    font-weight: bold;


  }
}

.imgblock-prices {
  span:not(a) {
    font-size: 21px;
    font-weight: 900;

    a {
      text-align: right;
      font-weight: 400;
      display: flex;
      font-size: 21px;
      transition: all 0.1s ease-in;
      color: white;

      &:hover {
        color: black;
      }
    }
  }

  transform: scale(0.7);
  padding: 0 21px 0 21px;
  color: white;
  font-size: 13px;
  font-weight: 800;
  background: linear-gradient(0deg, #b43a54 0%, #fd1d1d 50%, #fcb045 75%);
  width: 269px;
  height: 35px;
  border-radius: 20px;
  position: relative;
  justify-content: space-between;
  align-items: center;
  display: flex;
  bottom: 175px;
  left: -52px;

  // .imgblock-prices__retail

}

.buy-button {
  &__form {
    width: 100% !important;
    pointer-events: all !important;
  }

  &__count {
    outline: none !important;
    margin-bottom: 6px !important;
    border-radius: 5px !important;
    border: 0 !important;
    text-align: center !important;
    width: 50% !important;
  }

  &__button {
    outline: none !important;
    font-weight: 600 !important;
    border: 0 !important;
    background: none !important;
    color: white !important;
  }
}


.product-chars {
  padding: 9px;
  grid-template-columns: 1fr 1fr;
  display: grid;
  position: relative;
  top: 64px;
  row-gap: 5px;

  &__item {
    font-size: 14px;
  }
}

.display-promo__promo-information {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.promo-information {
  align-items: center;
  justify-content: center;
  display: flex;
  background: linear-gradient(0deg, #b43a54 0%, #fd1d1d 50%, #fcb045 100%);
  border-radius: 20px;
  width: 235px;
  height: 150px;
  color: white;
  font-size: 12px;
  padding: 10px;
  text-align: center;
}