@media(max-width: 1441px){
  .reviews{
    & .owl-stage-outer{
      & .owl-item{
        transform: scale(0.8);
      }
      overflow: visible;
      & .active{
        transform: scale(1);
      }
    }
  }
}
@media(max-width: 1200px){
  .promo{
    padding: 60px 0;
    &__header{
    line-height: 1;
    text-align: center;
    font-size: 30px;
    & span{
      font-size: 25px;
    }
  }
  &__btn{
    transform: scale(0.8);
  }
}
.about{
  &__images{
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
    &::after{
      transform: translate(0, 0);
    }
  }
}
.about-text{
  &__header{
    font-size: 35px !important;
}
  &__desc{
    & p{
    font-size: 20px !important;
    line-height: 1.5 !important;
    }
  }
}
.callback{
  &__text{
    padding: 50px 0 50px 97px !important;
    height: 100% !important;
    gap: 22px;
  }
  &__img{
    height: 100% !important;
  }
}
.callback-text{
  &__header{
  & span{
    font-size: 27px;
  }
  }
  &__desc{
    font-size: 13px;
    & span{
      font-size: 15px;
    }
    }
}
.contacts__text{
  font-size: 14px !important;
  & span{
    font-size: 19px !important;
  }
  translate: 0 100%;
}

}