@media(max-width: 1023px) {
  .header {
    &__nav {
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 7px;
    }
  }

  .banners {
    &__images {
      z-index: -1;
      height: 400px
    }
  }

  .our-tools {
    height: 650px;

    &__swiper {
      transform: scale(0.7) translate(-145px, 10px) !important;
      width: 150% !important;
    }
    &__desc{
      font-size: 15px !important;
    }
    &__text{
      transform: translate(0, -48px) !important;
    }
  }

  .advantages {
    &__item {
      transform: scale(0.8);

    }
  }

  .advantages-item {
    &__img-bg {
      transform: translate(-37px, -412px) scale(0.9);
    }
  }

  .promo {
    &__items{
      margin-top: 7px;
      height: 247px;
    }
    &__item {
    min-width: 272px;
    min-height: 303px;
    & img{
      width: 100%;
      max-width: none;
      min-width: 0;
    }
    }
  }
  .about{

    &__container{
      flex-direction: column-reverse;
    }
    &__text{
      width: 100%;
      & p{
        margin-bottom: 41px;
      }
    }
    & .owl-stage-outer{
      transform: none
      }
    
    & .owl-item{
      transform: none !important;
    }
    &__images{
      &::after{
        display: none;
      }
      height: 230px;
      width: 100%;
    }
  }
    .reviews .owl-stage {
      align-items: start !important;
  }
  .reviews__header{
    margin-bottom: 9px;
  }
  .callback{
    &__text{
      padding: 50px 41px 50px 97px !important;
    }
    &__img{
      height: 307px !important;
      & img{
        object-fit: cover;
        height: 100%;
      }
    }
  }
  .contacts__map{
    height: 420px;
  }
}

@media(max-width:767px) {
  .container {
    max-width: 320px !important;
  }

  .header {
    position: fixed;

    &__nav {
      display: none;
    }

    &__menu-burger {
      display: flex;
    }
  }

  .banners {
    padding-top: 100px;

    &__images {
      z-index: -1;
      height: 300px
    }

    &__header {
      font-size: 20px !important;

      & span {
        font-size: 22px;
      }
    }

    &__desc {
      font-size: 16px !important;
    }
  }

  .our-tools {
    height: 600px;
    padding: 0;

    &__container {
      flex-direction: column;
    }

    &__content {
      width: 100%;
    }

    &__text-bg {
      width: 313px;
    }
    &__text{
      transform: translate(0, 0) !important;
    }
    &__swiper {
      transform: scale(0.5) translate(119px, 10px) !important;
      width: 302% !important;
    }
  }

  .advantages {
    padding: 0 0 50px 0;
    margin-top: 321px;

    &__header {
      font-size: 16px !important;
      margin-top: -136px;

      & span {
        font-size: 13px;
      }
    }

    &__items {
      flex-direction: column;
      height: auto;

    }

    &__item {
      margin-right: auto;
    }

    &__item:nth-child(2) {
      margin-right: 0;
      margin-left: auto;
    }
  }

  .features {
    padding: 20px 0;

    &__header {
      font-size: 28px;

      & span {
        font-size: 32px;
      }
    }
  }

  .features-item {
    &__img {
      width: 135px;
    }

    &__desc {
      font-size: 12px;
    }
  }

  .promo {
    &__item {}

    &__header {
      font-size: 21px;

      & span {
        font-size: 15px;

      }
    }

    &__btn {
      transform: scale(0.6);
      margin: 0 auto;
    }
  }
  .about{
    &__images{
      height: 100px;
    }
    &__line{
      width: 199px;
    }
  }
  .about-text__desc{
    gap: 10px !important;
    & p {
      font-size: 11px !important;
    }
  }
  .about-text__header{
    font-size: 27px !important;

  }
  .reviews__header{
    font-size: 27px;
    text-transform: uppercase;
    line-height: 27.2px;
    margin-bottom: 9px;
  }
  .reviews-items__item{
    flex-direction: column;
  }
  .reviews-item{
    &__person-name{
      text-align: center;
    }
    &__text{
      margin-bottom: 20px;
      font-size: 11px !important;
      line-height: 20px !important;
    }
  }
  .callback{
      &__container{
        flex-direction: column !important;
      }
      &__text{
        padding: 41px 0 !important;
  }
}
.contacts__text{
  translate: 0 155%
}
.contacts__text {
  font-size: 10px !important;
  & span {
    font-size: 15px !important;
  }
}
}

//