@media(max-width: 1023px){
  .header{
    &__nav{
      flex-wrap: wrap;
      justify-content: center;
      row-gap: 7px;
    }
  }
  .banners{
    &__images{
      height: 300px
    }
  }

}
@media(max-width:426px){
  .container{
    max-width: 320px !important;
  }
  .header{
    position: fixed;
    &__nav{
      display: none;
    }
    &__menu-burger{
      display: flex;
    }
  }
  .banners{
    padding-top: 100px;
    &__images{
      z-index: -1;
      height: 200px
    }
    &__header{
      font-size: 20px !important;
      & span {
        font-size: 22px;
      }
    }
    &__desc{
      font-size: 16px !important;
    }
  }
  
}